@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #030712;
  color: #f3f4f6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
